.welcome{
    overflow: hidden;
}

.menu{
    overflow-x: hidden;
}

.pictures{
    overflow-x: hidden;
}

.restaurants{
    overflow-x: hidden;
}

.contact{
    overflow-x: hidden;
}

a{
    color : black;
    text-decoration: none;
}

a:hover{
    color:#4C8B30;
    text-decoration: none;
}

.welcomeevent{
    border : 1px #4C8B30 solid;
    border-radius: 5px;
    margin-bottom :50px;
}

.borderleft{
    border-left:1px #4C8B30 solid;
}

.jumbotron{
    background-image: url(Assets/Images/backgroundwelcome.jpg);
    background-position: left;
    background-size: cover;
}

h1{
    margin-top : 70px;
    margin-bottom: 50px;
}
